{% extends 'base.html' %}
{% block title %}{{category.name}} Home {% endblock %}
{% block content %}
{% if category %}
    <h1>{{ category.name}} page</h1>
{% else %}
    <h1>{{ tag.name }} page </h1>
{% endif %}
<hr>
<h1>{{category.name}} page</h1>
<hr>
{% for blog in blogs %}
    <div class="card mb-3">
        
        <img src="{{blog.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text">{{ blog.description | truncatechars:100 | safe}}</p>
        <p class="card-text"><small class="text-muted">{{ blog.created }}</small></p>
        {% for tag in blog.tags.all %}
            <a href="{% url 'tag_blogs' tag.slug %}">{{ tag.name }}</a>
        {% endfor %}
        <hr>
        </div>
    </div>
    {% endfor %}

{%endblock%}